#!/bin/bash

# List of Printer Setup File Reserved Strings
# Version 0001
#
# Copyright 2008 Henri Shustak GNU GPL v2
# 
# Notes : Be Sure to not put any exit at the end of this config file
#

export printer_is_raw_lower_case_reserved="raw"
export printer_is_raw_upper_case_reserved="RAW"
export printer_is_published_reserved="YES"
export printer_is_not_published_reserved="NO"

