#!/bin/bash

# List of Printer Setup File Search Keys Configuration.
# Version 0004
#
# Copyright 2006 Henri Shustak GNU GPL v2
# 
# Notes : Be Sure to not put any exit at the end of this config file
#

export printer_name_search_key="Printer Name"
export printer_description_search_key="Printer Description"
export printer_location_search_key="Printer Location"
export printer_network_address_search_key="Printer Network Address"
export printer_ppd_search_key="Printer PPD"
export printer_requirements_search_key="Printer Requirements"
export printer_is_published_search_key="Printer Published"
export printer_paper_size_search_key="Paper Size"


