#!/bin/bash

# List of Printer Setup File Search Keys Configuration.
# Version 0002
#
# Copyright 2006 Henri Shustak GNU GPL v2
# 
# Notes : Be Sure to not put any exit at the end of this config file
#
# This file is used for reading PSI (printer setup information) files.
# For use with printer-setup support is not enabled for this file format yet within
# PrinterSetup.
#

export printer_configuration_version="*% PSIVersion"
export printer_name_search_key="*% PSIName"
export printer_description_search_key="*% PSIDescription"
export printer_location_search_key="*% PSILocation"
export printer_network_address_search_key="*% PSIInterface"
export printer_ppd_search_key="*% PSIPPD"
export printer_requirements_search_key="*% PSIPackages"
